@import "../abstracts/variables";

$btn-font-size: 15px !default;

$btn-default-bg: white !default;
$btn-default-color: black !default;
$btn-default-border-color: black !default;
$btn-default-margin: 5px !default;
$btn-default-padding-top-bottom: 10px !default;
$btn-default-padding-left-right: 20px !default;

$btn-alt-color: white !default;
$btn-alt-bg: black !default;
$btn-alt-border-color: black !default;

.btn-reset {
    display: inline-block;
    cursor: pointer;

    &, &:active, &:focus, &:hover, &:visited {
        border: 0;
        margin: 0;
        padding: 0;
        text-decoration:none;
        outline:none;
    }
}

.btn-base {
    @extend .btn-reset;
    font-size: $btn-font-size;
    text-transform: lowercase;

    &, &:active, &:focus, &:hover, &:visited {
        padding: $btn-default-padding-top-bottom $btn-default-padding-left-right;
        margin: $btn-default-margin 0;
    }
}

.btn-default {
    @extend .btn-base;


    &, &:active, &:focus, &:hover, &:visited {
        color: $btn-default-color;
        background-color: $btn-default-bg;
        border: 1px solid $btn-default-border-color;
    }
}

.btn-alt {
    @extend .btn-base;
    text-transform: lowercase;

    &, &:active, &:focus, &:hover, &:visited {
        color: $btn-alt-color;
        background-color: $btn-alt-bg;
        border: 1px solid $btn-alt-border-color;
    }
}