@import "../abstracts/variables";
@import "../abstracts/mixins";

// BASE
$btn-font-size: 13px !default;
$btn-border-width: 2px !default;
$btn-padding-top-bottom: $btn-font-size / 2 !default;
$btn-padding-left-right: 20px !default;
$btn-padding: $btn-padding-top-bottom $btn-padding-left-right !default;
$btn-border-radius: ($btn-font-size + ($btn-padding-top-bottom * 2)) !default;
$btn-text-transform: uppercase !default;

// DEFAULT
$btn--default-bg-color: $primary !default;
$btn--default-bg-color--hover: $primary-light !default;
$btn--default-bg-color--click: $primary-dark !default;
$btn--default-color: $primary-text !default;
$btn--default-color--hover: $primary-text !default;
$btn--default-color--click: $primary-text !default;
$btn--default-border-color: $primary-dark !default;
$btn--default-border-color--hover: $primary-dark !default;
$btn--default-border-color--click: $primary-dark !default;

// DEFAULT ALT
$btn--default-alt-bg-color: $primary-text !default;
$btn--default-alt-bg-color--hover: $primary-text !default;
$btn--default-alt-bg-color--click: $primary-text !default;
$btn--default-alt-color: $primary !default;
$btn--default-alt-color--hover: $primary-light !default;
$btn--default-alt-color--click: $primary-dark !default;
$btn--default-alt-border-color: $primary !default;
$btn--default-alt-border-color--hover: $primary-light !default;
$btn--default-alt-border-color--click: $primary-dark !default;

// ACTION
$btn--action-bg-color: $secondary !default;
$btn--action-bg-color--hover: $secondary-light !default;
$btn--action-bg-color--click: $secondary-dark !default;
$btn--action-color: $secondary-text !default;
$btn--action-color--hover: $secondary-text !default;
$btn--action-color--click: $secondary-text !default;
$btn--action-border-color: $secondary !default;
$btn--action-border-color--hover: $secondary-light !default;
$btn--action-border-color--click: $secondary-dark !default;

// ACTION ALT
$btn--action-alt-bg-color: $secondary-text !default;
$btn--action-alt-bg-color--hover: $secondary-text !default;
$btn--action-alt-bg-color--click: $secondary-text !default;
$btn--action-alt-color: $secondary !default;
$btn--action-alt-color--hover: $secondary-light !default;
$btn--action-alt-color--click: $secondary-dark !default;
$btn--action-alt-border-color: $secondary !default;
$btn--action-alt-border-color--hover: $secondary-light !default;
$btn--action-alt-border-color--click: $secondary-dark !default;

// BASE
.btn {
    @include btn($btn-border-width, $btn-border-radius, $btn-padding-top-bottom, $btn-padding-left-right, $btn-text-transform, $btn-font-size);
}

// DEFAULT
.btn-default {
    @extend .btn;
    @include btn__variation(
        $btn--default-color,
        $btn--default-bg-color,
        $btn--default-border-color,
        $btn--default-color--hover,
        $btn--default-bg-color--hover,
        $btn--default-border-color--hover,
        $btn--default-color--click,
        $btn--default-bg-color--click,
        $btn--default-border-color--click
    );
}

// DEFAULT ALT
.btn-default-alt {
    @extend .btn;
    @include btn__variation( 
        $btn--default-alt-color,
        $btn--default-alt-bg-color,
        $btn--default-alt-border-color,
        $btn--default-alt-color--hover,
        $btn--default-alt-bg-color--hover,
        $btn--default-alt-border-color--hover,
        $btn--default-alt-color--click,
        $btn--default-alt-bg-color--click,
        $btn--default-alt-border-color--click
    );
}

// ACTION
.btn-action {
    @extend .btn;
    @include btn__variation(
        $btn--action-color,
        $btn--action-bg-color,
        $btn--action-border-color,
        $btn--action-color--hover,
        $btn--action-bg-color--hover,
        $btn--action-border-color--hover,
        $btn--action-color--click,
        $btn--action-bg-color--click,
        $btn--action-border-color--click
    );
}


// ACTION ALT
.btn-action-alt {
    @extend .btn;
    @include btn__variation( 
        $btn--action-alt-color,
        $btn--action-alt-bg-color,
        $btn--action-alt-border-color,
        $btn--action-alt-color--hover,
        $btn--action-alt-bg-color--hover,
        $btn--action-alt-border-color--hover,
        $btn--action-alt-color--click,
        $btn--action-alt-bg-color--click,
        $btn--action-alt-border-color--click
    );
}
