@import "../abstracts/variables";
@import "../abstracts/mixins";

$pagination-font-size: $font-size-p-small !default;
$pagination__page-margin-left-right: $margin-default !default;

.pagination {
    white-space: nowrap;
    display: block;
    margin: 0;

    > span, > button {
        display: inline-block;
    }
}

.pagination__arrow {
    border:0;
    background-color: transparent;
    outline:none;
}

.pagination__page {
    margin:0 $pagination__page-margin-left-right;
}

.pagination__page__current {

}

.pagination__page__of {

}

.pagination__page__total {

}