// FONTS
$font-family-title: 'Open Sans', Verdana, sans-serif;
$font-family: 'Open Sans', Verdana, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 900;

$font-size-base:16px;

$font-scaling-md: 0.85;
$font-scaling-sm: 0.75;
$font-scaling-xs: 0.80;

$font-size-h1: 40px;
$font-size-h2: 30px;
$font-size-h3: 22px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-h6: 13px;

$font-size-p-normal: 16px; //$font-size-base;
$font-size-p-big: 20px; //$font-size-p-normal * 1.25;
$font-size-p-small: 12px; //$font-size-p-normal * 0.75;
$font-size-p-extrasmall: 10px; //$font-size-p-normal * 0.625;