// FONTS
$font-family-title: 'Lato', Verdana, sans-serif !default;
$font-family: 'Lato', Verdana, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 900;

$font-size-base:18px;

$font-scaling-md: 0.85;
$font-scaling-sm: 0.75;
$font-scaling-xs: 0.80;

$font-size-h1: 65px;
$font-size-h2: 50px;
$font-size-h3: 34px;
$font-size-h4: 30px;
$font-size-h5: 24px;
$font-size-h6: 20px;

$font-size-p-normal: 18px; //$font-size-base;
$font-size-p-big: 24px; //$font-size-p-normal * 1.4;
$font-size-p-small: 15px; //$font-size-p-normal * 0.8;
$font-size-p-extrasmall: 12px ;//$font-size-p-normal * 0.65;