@import "../abstracts/variables";

html {
    font-family: $font-family;
    font-size: $font-size-base;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-title;
    line-height: 1.2;
    color: $font-title-color;
    font-weight: $font-weight-bold;
    margin: $margin-medium 0;
}

p {
    font-size: $font-size-p-normal;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: $margin-default;
}

a {
    color: $link-color;

    &:hover {
        color: $link-hover-color;
    }
}


ul, ol {
    margin: $margin-default 0;
    margin-left: $margin-big;
    margin-bottom: $margin-medium;
    list-style-position: outside;
    padding-left: $margin-default;

    li {
        margin-bottom: $margin-default;
        padding-left: $margin-small;
    }
}


/**umb_name:Heading 1*/
h1 {
    font-size: $font-size-h1;
}

/**umb_name:Heading 2*/
h2 {
    font-size: $font-size-h2;
}

/**umb_name:Heading 3*/
h3 {
    font-size: $font-size-h3;
}

/**umb_name:Heading 4*/
h4 {
    font-size: $font-size-h4;
}

/**umb_name:Heading 5*/
h5 {
    font-size: $font-size-h5;
}

/**umb_name:Heading 6*/
h6 {
    font-size: $font-size-h6;
}

/**umb_name:Big text*/
.text-big {
    font-size: $font-size-p-big;
}

/**umb_name:Small text*/
.text-small {
    font-size: $font-size-p-small;
}

/**umb_name:Uppercase*/
.text-uppercase {
    text-transform: uppercase;
}

/**umb_name:Lowercase*/
.text-lowercase {
    text-transform: lowercase;
}

/**umb_name: No bold*/
.text-no-bold {
    font-weight:$font-weight-regular;
}

/**umb_name: Font light*/
.text-light {
    font-weight: $font-weight-light;
}

/**umb_name:Primary color*/
.color-primary {
    color:$primary;
}

/**umb_name:Secondary color*/
.color-secondary {
    color: $secondary;
}

/**umb_name:Tertiary color*/
.color-tertiary{
    color: $tertiary;
}

/**umb_name:White color*/
.color-white {
    color: #FFF;
}

/**umb_name:Black color*/
.color-black {
    color: #000;
}

/**umb_name:Float quote*/
.float-quote {
    border-top: 3px solid;
    border-bottom: 3px solid;
    margin: 10px 0;
    font-style: italic;
    font-weight: bold;
    font-size: $font-size-p-normal;
    display: block;
}


// BUTTONS

@import "../abstracts/mixins";

$btn-font-size: 13px !default;
$btn-border-width: 2px !default;
$btn-padding-top-bottom: $btn-font-size / 2 !default;
$btn-padding-left-right: 20px !default;
$btn-padding: $btn-padding-top-bottom $btn-padding-left-right !default;
$btn-border-radius: ($btn-font-size + ($btn-padding-top-bottom * 2)) !default;
$btn-text-transform: uppercase !default;

// DEFAULT
$btn--default-bg-color: $primary !default;
$btn--default-bg-color--hover: $primary-light !default;
$btn--default-bg-color--click: $primary-dark !default;
$btn--default-color: $primary-text !default;
$btn--default-color--hover: $primary-text !default;
$btn--default-color--click: $primary-text !default;
$btn--default-border-color: $primary-dark !default;
$btn--default-border-color--hover: $primary-dark !default;
$btn--default-border-color--click: $primary-dark !default;

// DEFAULT ALT
$btn--default-alt-bg-color: $primary-text !default;
$btn--default-alt-bg-color--hover: $primary-text !default;
$btn--default-alt-bg-color--click: $primary-text !default;
$btn--default-alt-color: $primary !default;
$btn--default-alt-color--hover: $primary-light !default;
$btn--default-alt-color--click: $primary-dark !default;
$btn--default-alt-border-color: $primary !default;
$btn--default-alt-border-color--hover: $primary-light !default;
$btn--default-alt-border-color--click: $primary-dark !default;

// ACTION
$btn--action-bg-color: $secondary !default;
$btn--action-bg-color--hover: $secondary-light !default;
$btn--action-bg-color--click: $secondary-dark !default;
$btn--action-color: $secondary-text !default;
$btn--action-color--hover: $secondary-text !default;
$btn--action-color--click: $secondary-text !default;
$btn--action-border-color: $secondary !default;
$btn--action-border-color--hover: $secondary-light !default;
$btn--action-border-color--click: $secondary-dark !default;

// ACTION ALT
$btn--action-alt-bg-color: $secondary-text !default;
$btn--action-alt-bg-color--hover: $secondary-text !default;
$btn--action-alt-bg-color--click: $secondary-text !default;
$btn--action-alt-color: $secondary !default;
$btn--action-alt-color--hover: $secondary-light !default;
$btn--action-alt-color--click: $secondary-dark !default;
$btn--action-alt-border-color: $secondary !default;
$btn--action-alt-border-color--hover: $secondary-light !default;
$btn--action-alt-border-color--click: $secondary-dark !default;

/**umb_name:Button*/
.btn {
    @include btn__base($btn-border-width, $btn-border-radius, $btn-padding-top-bottom, $btn-padding-left-right, $btn-text-transform, $btn-font-size);
}

/**umb_name:Button default*/
.btn-default {
    @include btn__base($btn-border-width, $btn-border-radius, $btn-padding-top-bottom, $btn-padding-left-right, $btn-text-transform, $btn-font-size);
    @include btn__colors($btn--default-color,$btn--default-bg-color,$btn--default-border-color);
}

/**umb_name:Button default alternative*/
.btn-default-alt {
    @include btn__base($btn-border-width, $btn-border-radius, $btn-padding-top-bottom, $btn-padding-left-right, $btn-text-transform, $btn-font-size);
    @include btn__colors($btn--default-alt-color,$btn--default-alt-bg-color,$btn--default-alt-border-color);
}

/**umb_name:Button action*/
.btn-action {
    @include btn__base($btn-border-width, $btn-border-radius, $btn-padding-top-bottom, $btn-padding-left-right, $btn-text-transform, $btn-font-size);
    @include btn__colors($btn--action-color,$btn--action-bg-color,$btn--action-border-color);
}

/**umb_name:Button action alternative*/
.btn-action-alt {
    @include btn__base($btn-border-width, $btn-border-radius, $btn-padding-top-bottom, $btn-padding-left-right, $btn-text-transform, $btn-font-size);
    @include btn__colors($btn--action-alt-color,$btn--action-alt-bg-color,$btn--action-alt-border-color);
}