@import "variables/variables-colors";
@import "variables/variables-common";
@import "variables/variables-fonts";

// BOOTSTRAP OVERRIDE
// NB: provvisoriamente non si può mettere nei temi
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$grid-float-breakpoint: $screen-sm;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);

$grid-gutter-width: 30px;

$xxs-max: $screen-xs - 1;
$xs-min: $screen-xs;
$xs-max: $screen-sm - 1;
$sm-min: $screen-sm;
$sm-max: $screen-md - 1;
$md-min: $screen-md;
$md-max: $screen-lg - 1;
$lg-min: $screen-lg;

// BORDER RADIUS
$border-radius: $border-radius-base;
$border-width: $border-width-base;

// BASE COLORS
$font-color: $primary-default-text;
$font-title-color: $primary;
$bg-color: $primary-default-bg;

$link-color: $primary-dark;
$link-hover-color: $primary;




// COMPONENTS
// Banner
// About
// Projects