@import "../abstracts/variables";

$navbar-breakpoint-min:$grid-float-breakpoint !default;
$navbar-breakpoint-max:$grid-float-breakpoint-max !default;
$navbar-bg-color: $primary !default;
$navbar-color: $primary-text !default;

