// STANDARD COLORS
$white: #FFF;
$black: #000;
$gray: #AAA;

$purple: #71429A;
$purple-light: #A887C6;
$purple-dark: #5d0ca5;

$orange: #F47D20;
$orange-light: #f5b786;
$orange-dark: #a94a00;

$blue: #568BC9;
$blue-light: #E7EEF4;
$blue-dark: #1668c6;

// MAIN COLORS
$primary-default-bg: $black;
$primary-default-text: $white;

$primary: $blue;
$primary-light: $blue-light;
$primary-dark: $blue-dark;
$primary-text: $white;

$secondary: $purple;
$secondary-light: $purple-light;
$secondary-dark: $purple-dark;
$secondary-text: $white;

$tertiary: $orange;
$tertiary-light: $orange-light;
$tertiary-dark: $orange-dark;
$tertiary-text: $white;