// MAIN COLORS
$primary-default-bg: #FFF !default;
$primary-default-text: #000 !default;

$primary: #568BC9 !default;
$primary-light: #E7EEF4 !default;
$primary-dark: #1668c6 !default;
$primary-text: #FFF !default;

$secondary: #71429A !default;
$secondary-light: #A887C6 !default;
$secondary-dark: #5d0ca5 !default;
$secondary-text: #FFF !default;

$tertiary: #F47D20 !default;
$tertiary-light: #f5b786 !default;
$tertiary-dark: #a94a00 !default;
$tertiary-text: #FFF !default;