// CUSTOM COLORS
$white: #FFF;
$black: #000;

$gray: #f9f9f9;
$gray-dark: #c6c6c6;
$gray-light: #ffffff;

$fucsia: #dd056a;
$fucsia-dark: #a50040;
$fucsia-light: #ff5698;

$green: #5a7335;
$green-dark: 'none';
$green-light: 'none';

$orange: #d5521e;
$orange-dark: 'none';
$orange-light: 'none';

// MAIN COLORS
$primary-default-bg: $white;
$primary-default-text: $black;

$primary: $gray;
$primary-light: $gray-light;
$primary-dark: $gray-dark;
$primary-text: $black;

$secondary: $fucsia;
$secondary-light: $fucsia-light;
$secondary-dark: $fucsia-dark;
$secondary-text: $white;

$tertiary: $orange;
$tertiary-light: $orange-light;
$tertiary-dark: $orange-dark;
$tertiary-text: $black;

$tertiary: $green;
$tertiary-light: $green-light;
$tertiary-dark: $green-dark;
$tertiary-text: $black;

$quaternary: $orange;
$quaternary-light: $orange-light;
$quaternary-dark: $orange-dark;
$quaternary-text: $black;