@import "variables-colors";

// BOOTSTRAP OVERRIDE
// NB: provvisoriamente non si può mettere nei temi
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

$grid-float-breakpoint: $screen-sm !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

$grid-gutter-width: 30px !default;

$container-sm: $screen-sm - $grid-gutter-width !default;
$container-md: $screen-md - $grid-gutter-width !default;
$container-lg: $screen-lg - $grid-gutter-width !default;

$xxs-max: $screen-xs - 1 !default;
$xs-min: $screen-xs !default;
$xs-max: $screen-sm - 1 !default;
$sm-min: $screen-sm !default;
$sm-max: $screen-md - 1 !default;
$md-min: $screen-md !default;
$md-max: $screen-lg - 1 !default;
$lg-min: $screen-lg !default;

// MARGIN/PADDING
$margin-default: 12px !default;
$margin-small: $margin-default / 3 !default;
$margin-medium: $margin-default * 2 !default;
$margin-big: $margin-default * 4 !default;
$margin-extrabig: $margin-default * 6 !default;

// SHADOWS AND BORDER RADIUS
$border-radius-base: 15px !default;
$border-width-base: 1px !default;

// BASE COLORS
$font-color: $primary-default-text !default;
$font-title-color: $primary-default-text !default;
$bg-color: $primary-default-bg !default;

$link-color: $primary-text !default;
$link-hover-color: $secondary !default;