@import "../abstracts/variables";
@import "../common/gradients";

$banner__color: $primary-default-text !default;

.banner {
    position: relative;
    @extend .background-gradient;
    background-color: $primary-dark;
    background-size: cover;
    background-position: center;
    color: $primary-text;
    padding-top: $margin-big;
    padding-bottom: $margin-big;

    @media(min-width:$sm-min) {
        height: 600px;
    }
}

.banner__logo {
    text-align: center;
    margin-bottom:$margin-big;
    @media(min-width:$sm-min) {
        text-align: left;
    }

    img {
        max-width: 100%;
    }
}

.banner__text {
    text-align: center;

    @media(min-width:$sm-min) {
        text-align: right;
    }

    h1, h2, h3, h4, h5, h6, p {
        color: #FFF;
        margin: 0;
        line-height: 1.1;
        text-align:center;
        @media(max-width:$sm-max){
            text-shadow: 1px 1px 20px black;
        }

        @media(min-width:$sm-min) {
            text-align: right;
        }
    }
}

.banner-coming-soon {
    position: relative;
    @extend .background-gradient;
    background-color: $primary-dark;
    background-size: cover;
    background-position: center;
    padding-top: $margin-big;
    padding-bottom: $margin-big;
    
    @media(min-width:$sm-min) {
        height: 600px;
        min-height: 100vh;
    }
}

.banner-coming-soon__text {
    text-align: center;
    text-transform: uppercase;
    font-weight: $font-weight-extrabold;
    margin-top: 120px;
    background-color: rgba(white,0.8);
    color: $secondary;
    padding: $margin-default;
    @include font-size-scaling($font-size-h1);
}
