// FONTS
$font-family-title: 'Lato', Verdana, sans-serif !default;
$font-family: 'Lato', Verdana, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 900;

$font-size-base:15px;

$font-scaling-md: 0.85;
$font-scaling-sm: 0.75;
$font-scaling-xs: 0.80;

$font-size-h1: 60px;
$font-size-h2: 40px;
$font-size-h3: 30px;
$font-size-h4: 25px;
$font-size-h5: 20px;
$font-size-h6: 18px;

$font-size-p-big: 20px;
$font-size-p-normal: $font-size-base;
$font-size-p-small: 12px;
$font-size-p-extrasmall: 10px;